header{
    position: fixed;
    display: flex;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Inika', sans-serif;
    width: 100%;
    height: 15%;
    background-color: rgba(50, 0, 105, 0.5);
    box-shadow: rgba(0, 0, 0, 0.548) 0px 3px 6px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo-cor {
    color: #9d0208;
}

.pnew{
    position: relative;
    display: flex;
    align-items: center;
    background-color: teal;
    gap: 85px;
    font-size: 2rem;
    padding-right: 70px;
}

.pnew a{
    text-shadow: 2px 2px 2px #3d0e61;
    transition: all .3s;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 90px;
    transition: all .3s;
}

.pnew a:hover{
    padding: 3px 3px;
    box-sizing: border-box;
    border-bottom: 4px solid #9d0208;
    height: 45px;
    width: 90px;
    color: white;
    transition: all .3s;
}

/* header{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Gupter', sans-serif;
    width: 100%;
    height: 15%;
}

/*a { color: white; 
    text-decoration: none;
} 

.header-container{
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 30px;
    height: 50px;
}

.p-container{
    position: relative;
    display: flex;
    gap: 95px;
    font-size: 1.5rem;
    padding-right: 70px;
}

.p-container a{
    text-shadow: 2px 2px 2px #000;
    transition: all .3s;
    height: 45px;
    width: 90px;
    display: flex;
    justify-content: center;
}

.p-container a:hover{
    padding: 3px 3px;
    box-sizing: border-box;
    border-bottom: 4px solid #00CBBF;
    border-radius: 5px;
    height: 45px;
    width: 90px;
    transition: all .3s;
}
